h1 {
  font-family: "Copperplate", sans-serif;
  font-size: 40px;
  color: #222;
  text-align: center;
  font-weight: 1000;
  text-shadow: 1px 1px 2px grey;
}

p{
  font-family: "Verdana", sans-serif;
}

body{
    background-color: rgba(173, 216, 230, 0.5); /* lightblue with 50% transparency */
}

.user-info {
    background-color: #ffffff;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 12px;
    text-align: left;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    padding-left: 20px;
}

.center_box {
    text-align: center;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    margin-top: 60px;
}

.menu_item {
    font-size: 18px;
    padding: 5px;
}
